<div class='ferrata'>
  <h4>{{title}}</h4>
  <dl class='dl-horizontal'>
    <dt>State</dt><dd>{{state}}</dd>
    <dt>Region</dt><dd>{{region}}</dd>
    <dt>Locality</dt><dd>{{locality}}</dd>
    <dt>Coords</dt><dd>{{lat}} {{lng}}</dd>
    <dt>Begin</dt><dd>{{begin}}</dd>
    <dt>Target</dt><dd>{{targetMax}}</dd>
    <dt>Duration</dt><dd>{{duration}}</dd>
    <dt>Difficulty</dt><dd>{{difficulty}}</dd>
  </dl>
</div>
