<div class="ferrata">
  <h2>
    {{model.name}}
  </h2>
  <div class="ferrata__properties">
    <table class="ferrata__table">
      <tbody>
        <tr>
          <th>Time</th>
          <td>{{format-duration model.duration}}h</td>
          <th>Height</th>
          <td>{{model.height}}m</td>
        </tr>
        <tr>
          <th>State</th>
          <td>{{model.state}}</td>
          <th>Diff</th>
          <td>{{model.elevationdiff}}m</td>
        </tr>
        <tr>
          <th>Region</th>
          <td>{{model.region}}</td>
          <th>Lat</th>
          <td>{{format-coordinates model.lat}}</td>
        </tr>
        <tr>
          <th>Locality</th>
          <td>{{model.locality}}</td>
          <th>Lng</th>
          <td>{{format-coordinates model.lng}}</td>
        </tr>
        <tr>
          <th>From</th>
          <td>{{model.begin}}</td>
          <th>To</th>
          <td>{{model.target}}</td>
        </tr>

        <tr>
          <th>Source</th>
          <td><a href="http://klettersteig.de/klettersteig/{{model.link}}" target="_blank" title="Source at klettersteig.de">Klettersteig.de &raquo;</a></td>
          <th></th>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
