<!-- Fixed navbar -->
<nav class="header">
  <div class="header--container">
    <div class="header--logo">
      <a href="/"><img src="/logo.png" title="GoFerrata.com" /></a>
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="full-width-container clearfix">
  {{outlet}}
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
</div>

<footer class="footer">
  <div class="footer--container">
    <form class="footer--form">
      <div class="footer--group">
        {{#geolocate-button latitude=centerLat longitude=centerLng}}Geolocate{{/geolocate-button}}
        <label for="difficulty">Difficulty:</label>
        <div class="footer--difficulties">
          {{#each name in difficulties}}
            {{#difficulty-button targetDifficulty=name currentDifficulties=currentDifficulties}}{{name}}{{/difficulty-button}}
          {{/each}}
        </div>
      </div>
      <div class="footer--group">
        <label for="height">Height:</label>
        {{input class="form-control" placeholder="from" value=heightMin}}
        {{input class="form-control" placeholder="to" value=heightMax}} meters
      </div>
      <div class="footer--group">
        <label for="height">Duration:</label>
        {{input class="form-control" placeholder="from" value=durationMin}}
        {{input class="form-control" placeholder="to" value=durationMax}} hours
      </div>

    </form>
  </div>
</footer>
