<!-- Fixed navbar -->
<nav class="header">
  <div class="header__container">
    <div class="header__logo">
      {{#link-to 'ferratas.index'}}<img src="logo.png" title="GoFerrata.com" />{{/link-to}}
    </div>

    <div class="header__user">
      {{#if session.currentUser}}
        Welcome {{session.currentUser.first_name}}!

        <button {{action 'logout'}}>
          <i class="icon__log-out"></i>
        </button>
      {{else}}
        {{#unless session.isWorking}}
          {{error}}
          <button {{action 'signInViaFacebook'}}>
            Login with Facebook
          </button>
        {{/unless}}
      {{/if}}
    </div>

    <div class="header__geolocate">
      {{#geolocate-button latitude=centerLat longitude=centerLng}}
        <i class="icon__my-location"></i>
        Geolocate
      {{/geolocate-button}}
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="content">
  {{outlet}}
</div>

<footer class="footer">
  <div class="footer__container">
    We use data from <a href="http://klettersteig.de">klettersteig.de</a>
  </div>
</footer>
