<!-- Fixed navbar -->
<nav class="header">
  <div class="header__container">
    <div class="header__logo">
      {{#link-to 'ferratas.index'}}<img src="logo.png" title="GoFerrata.com" />{{/link-to}}
    </div>

    {{#if session.currentUser}}
      Welcome {{session.currentUser.first_name}}
    {{else}}
      {{#if session.isWorking}}
        One sec while we get you signed in...
      {{else}}
        {{error}}
        <button {{action 'signInViaFacebook'}}>
          Login via FB
        </button>
      {{/if}}
    {{/if}}

    <div class="header__geolocate">
      {{#geolocate-button latitude=centerLat longitude=centerLng}}
        <i class="icon__my-location"></i>
        Geolocate
      {{/geolocate-button}}
    </div>
  </div>
</nav>

<!-- Begin page content -->
<div class="content">
  {{outlet}}
</div>

<footer class="footer">
  <div class="footer__container">
    We use data from <a href="http://klettersteig.de">klettersteig.de</a>
  </div>
</footer>
