{{clustered-google-map lat=centerLat
                       lng=centerLng
                       zoom=zoom
                       heightMin=heightMin
                       heightMax=heightMax
                       durationMin=durationMin
                       durationMax=durationMax
                       currentDifficulties=currentDifficulties
                       gopt_panControl=false
                       ferratas=model
                       activeMarker=activeMarker}}
<div class="search">
  <input id="search-input" class="search__input" type="text" placeholder="Search Box">
</div>

<div class="sidebar">
  {{outlet}}
  <div class="filter">
    <form class="filter__form">
      <div class="filter__group filter__difficulties">
        {{#each name in difficulties}}
        {{#difficulty-button targetDifficulty=name currentDifficulties=currentDifficulties}}{{name}}{{/difficulty-button}}
        {{/each}}
      </div>
      <div class="filter__group">
        {{range-slider kind='height' max=startHeightMax start=startHeight range=heightRange change="changedHeight"}}
      </div>
      <div class="filter__group">
        {{range-slider kind='duration' max=startDurationMax start=startDuration range=durationRange change="changedDuration"}}
      </div>
    </form>
  </div>
</div>
