{{clustered-google-map lat=centerLat
lng=centerLng
zoom=zoom
heightMin=heightMin
heightMax=heightMax
durationMin=durationMin
durationMax=durationMax
currentDifficulties=currentDifficulties
gopt_panControl=false
ferratas=model}}
<div class="search">
  <input id="search-input" class="search__input" type="text" placeholder="Search Box">
</div>

<div class="sidebar">
  {{outlet}}
  <div class="filter">
    <form class="filter__form">
      <div class="filter__group filter__difficulties">
        {{#each name in difficulties}}
          {{#difficulty-button targetDifficulty=name currentDifficulties=currentDifficulties}}{{name}}{{/difficulty-button}}
        {{/each}}
      </div>
      <div class="filter__group">
        {{range-slider max=startHeightMax start=startHeight range=heightRange change="changedHeight" kind="height"}}
      </div>
      <div class="filter__group">
        {{range-slider max=startDurationMax start=startDuration range=durationRange change="changedDuration" kind="duration"}}
      </div>
    </form>
  </div>
</div>
